Daily Fantasy Data Exploration

In [2]:
import numpy as np
import pandas as pd

In [3]:
# !apt-get install -y -qq software-properties-common python-software-properties module-init-tools
# !add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
# !apt-get update -qq 2>&1 > /dev/null
# !apt-get -y install -qq google-drive-ocamlfuse fuse
# from google.colab import auth
# auth.authenticate_user()
# from oauth2client.client import GoogleCredentials
# creds = GoogleCredentials.get_application_default()
# import getpass
# !google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
# vcode = getpass.getpass()
# !echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

Preconfiguring packages ...
Selecting previously unselected package cron.
(Reading database ... 18408 files and directories currently installed.)
Preparing to unpack .../00-cron_3.0pl1-128ubuntu5_amd64.deb ...
Unpacking cron (3.0pl1-128ubuntu5) ...
Selecting previously unselected package libapparmor1:amd64.
Preparing to unpack .../01-libapparmor1_2.11.0-2ubuntu17.1_amd64.deb ...
Unpacking libapparmor1:amd64 (2.11.0-2ubuntu17.1) ...
Selecting previously unselected package libdbus-1-3:amd64.
Preparing to unpack .../02-libdbus-1-3_1.10.22-1ubuntu1_amd64.deb ...
Unpacking libdbus-1-3:amd64 (1.10.22-1ubuntu1) ...
Selecting previously unselected package dbus.
Preparing to unpack .../03-dbus_1.10.22-1ubuntu1_amd64.deb ...
Unpacking dbus (1.10.22-1ubuntu1) ...
Selecting previously unselected package dirmngr.
Preparing to unpack .../04-dirmngr_2.1.15-1ubuntu8.1_amd64.deb ...
Unpacking dirmngr (2.1.15-1ubuntu8.1) ...
Selecting previously unselected package distro-info-data.
Preparing to unpack .../05-distro-info-data_0.36ubuntu0.2_all.deb ...
Unpacking distro-info-data (0.36ubuntu0.2) ...
Selecting previously unselected package libkmod2:amd64.
Preparing to unpack .../06-libkmod2_24-1ubuntu2_amd64.deb ...
Unpacking libkmod2:amd64 (24-1ubuntu2) ...
Selecting previously unselected package kmod.
Preparing to unpack .../07-kmod_24-1ubuntu2_amd64.deb ...
Unpacking kmod (24-1ubuntu2) ...
Selecting previously unselected package lsb-release.
Preparing to unpack .../08-lsb-release_9.20160110ubuntu5_all.deb ...
Unpacking lsb-release (9.20160110ubuntu5) ...
Selecting previously unselected package libgirepository-1.0-1:amd64.
Preparing to unpack .../09-libgirepository-1.0-1_1.54.1-1_amd64.deb ...
Unpacking libgirepository-1.0-1:amd64 (1.54.1-1) ...
Selecting previously unselected package gir1.2-glib-2.0:amd64.
Preparing to unpack .../10-gir1.2-glib-2.0_1.54.1-1_amd64.deb ...
Unpacking gir1.2-glib-2.0:amd64 (1.54.1-1) ...
Selecting previously unselected package iso-codes.
Preparing to unpack .../11-iso-codes_3.75-1_all.deb ...
Unpacking iso-codes (3.75-1) ...
Selecting previously unselected package libdbus-glib-1-2:amd64.
Preparing to unpack .../12-libdbus-glib-1-2_0.108-2_amd64.deb ...
Unpacking libdbus-glib-1-2:amd64 (0.108-2) ...
Selecting previously unselected package python-apt-common.
Preparing to unpack .../13-python-apt-common_1.4.0~beta3build2_all.deb ...
Unpacking python-apt-common (1.4.0~beta3build2) ...
Selecting previously unselected package python3-apt.
Preparing to unpack .../14-python3-apt_1.4.0~beta3build2_amd64.deb ...
Unpacking python3-apt (1.4.0~beta3build2) ...
Selecting previously unselected package python3-dbus.
Preparing to unpack .../15-python3-dbus_1.2.4-1build3_amd64.deb ...
Unpacking python3-dbus (1.2.4-1build3) ...
Selecting previously unselected package python3-gi.
Preparing to unpack .../16-python3-gi_3.24.1-2build1_amd64.deb ...
Unpacking python3-gi (3.24.1-2build1) ...
Selecting previously unselected package module-init-tools.
Preparing to unpack .../17-module-init-tools_24-1ubuntu2_all.deb ...
Unpacking module-init-tools (24-1ubuntu2) ...
Selecting previously unselected package python-apt.
Preparing to unpack .../18-python-apt_1.4.0~beta3build2_amd64.deb ...
Unpacking python-apt (1.4.0~beta3build2) ...
Selecting previously unselected package python-pycurl.
Preparing to unpack .../19-python-pycurl_7.43.0-2build2_amd64.deb ...
Unpacking python-pycurl (7.43.0-2build2) ...
Selecting previously unselected package python-software-properties.
Preparing to unpack .../20-python-software-properties_0.96.24.17_all.deb ...
Unpacking python-software-properties (0.96.24.17) ...
Selecting previously unselected package python3-software-properties.
Preparing to unpack .../21-python3-software-properties_0.96.24.17_all.deb ...
Unpacking python3-software-properties (0.96.24.17) ...
Selecting previously unselected package software-properties-common.
Preparing to unpack .../22-software-properties-common_0.96.24.17_all.deb ...
Unpacking software-properties-common (0.96.24.17) ...
Selecting previously unselected package unattended-upgrades.
Preparing to unpack .../23-unattended-upgrades_0.98ubuntu1.1_all.deb ...
Unpacking unattended-upgrades (0.98ubuntu1.1) ...
Setting up python-apt-common (1.4.0~beta3build2) ...
Setting up python3-apt (1.4.0~beta3build2) ...
Setting up iso-codes (3.75-1) ...
Setting up distro-info-data (0.36ubuntu0.2) ...
Setting up python-pycurl (7.43.0-2build2) ...
Setting up lsb-release (9.20160110ubuntu5) ...
Setting up libgirepository-1.0-1:amd64 (1.54.1-1) ...
Setting up libkmod2:amd64 (24-1ubuntu2) ...
Setting up gir1.2-glib-2.0:amd64 (1.54.1-1) ...
Processing triggers for libc-bin (2.26-0ubuntu2.1) ...
Setting up libapparmor1:amd64 (2.11.0-2ubuntu17.1) ...
Setting up unattended-upgrades (0.98ubuntu1.1) ...

Creating config file /etc/apt/apt.conf.d/20auto-upgrades with new version

Creating config file /etc/apt/apt.conf.d/50unattended-upgrades with new version
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up dirmngr (2.1.15-1ubuntu8.1) ...
Setting up cron (3.0pl1-128ubuntu5) ...
Adding group `crontab' (GID 102) ...
Done.
update-rc.d: warning: start and stop actions are no longer supported; falling back to defaults
update-rc.d: warning: stop runlevel arguments (1) do not match cron Default-Stop values (none)
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libdbus-1-3:amd64 (1.10.22-1ubuntu1) ...
Setting up kmod (24-1ubuntu2) ...
Setting up libdbus-glib-1-2:amd64 (0.108-2) ...
Setting up python3-gi (3.24.1-2build1) ...
Setting up module-init-tools (24-1ubuntu2) ...
Setting up python3-software-properties (0.96.24.17) ...
Setting up dbus (1.10.22-1ubuntu1) ...
Setting up python-apt (1.4.0~beta3build2) ...
Setting up python3-dbus (1.2.4-1build3) ...
Setting up python-software-properties (0.96.24.17) ...
Setting up software-properties-common (0.96.24.17) ...
Processing triggers for libc-bin (2.26-0ubuntu2.1) ...
Processing triggers for dbus (1.10.22-1ubuntu1) ...
gpg: keybox '/tmp/tmptk4gareg/pubring.gpg' created
gpg: /tmp/tmptk4gareg/trustdb.gpg: trustdb created
gpg: key AD5F235DF639B041: public key "Launchpad PPA for Alessandro Strada" imported
gpg: Total number processed: 1
gpg:               imported: 1
Warning: apt-key output should not be parsed (stdout is not a terminal)
Selecting previously unselected package libfuse2:amd64.
(Reading database ... 19816 files and directories currently installed.)
Preparing to unpack .../libfuse2_2.9.7-1ubuntu1_amd64.deb ...
Unpacking libfuse2:amd64 (2.9.7-1ubuntu1) ...
Selecting previously unselected package fuse.
Preparing to unpack .../fuse_2.9.7-1ubuntu1_amd64.deb ...
Unpacking fuse (2.9.7-1ubuntu1) ...
Selecting previously unselected package google-drive-ocamlfuse.
Preparing to unpack .../google-drive-ocamlfuse_0.6.21-0ubuntu2_amd64.deb ...
Unpacking google-drive-ocamlfuse (0.6.21-0ubuntu2) ...
Setting up libfuse2:amd64 (2.9.7-1ubuntu1) ...
Processing triggers for libc-bin (2.26-0ubuntu2.1) ...
Setting up fuse (2.9.7-1ubuntu1) ...
Setting up google-drive-ocamlfuse (0.6.21-0ubuntu2) ...
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.

In [0]:
# !mkdir -p drive
# !google-drive-ocamlfuse drive

In [3]:
# contests = pd.read_csv('drive/data science/data/NBA data/data_warehouse/contests.csv')
contests = pd.read_csv('~/google drive/data science/data/NBA data/data_warehouse/contests.csv')

### Split out contest names and entry fee

In [4]:
contest_name = contests['Contest_Name']

In [5]:
entryfee = contests['Entry_Fee']

In [22]:
contest_name[0]

'NBA $250K West Coast Special [$50K to 1st] (Night)'

### Make contest directory by adding entry fee to contest name

In [6]:
contestdir = entryfee.str.cat(contest_name, sep='entry_')
contestdir.head()

0    $8.00entry_NBA $250K West Coast Special [$50K ...
1      $555.00entry_NBA $400K Alley Oop [$100K to 1st]
2    $8.00entry_NBA $450K Excellent 8’s [$50K to 1st!]
3                  $33.00entry_NBA $215K Triple Threat
4     $3.00entry_NBA $150K Sharpshooter [20 Entry Max]
Name: Entry_Fee, dtype: object

### Split out contest date

In [10]:
contestdate = contests['Contest_Date']
contestdate.head()

0    2017-11-27
1    2017-11-28
2    2017-11-28
3    2017-11-28
4    2017-11-28
Name: Contest_Date, dtype: object

### Collect all player results in one dataframe

In [11]:
recontestdate = contestdate.drop_duplicates()
recontestdate = recontestdate.reset_index(drop=True)
# playerrsltlinks = 'drive/data science/data/NBA data/data_warehouse/' + recontestdate + '/player_results.csv'
playerrsltlinks = '~/google drive/data science/data/NBA data/data_warehouse/' + recontestdate + '/player_results.csv'
recontestdate = recontestdate.replace("-", "", regex = True)
playersvars = 'players' + recontestdate
playersvars = playersvars.drop(playersvars.index[[19, 20]])

In [12]:
for x in range(len(playersvars)):
    vars()[playersvars[x]] = pd.read_csv(playerrsltlinks[x])
    vars()[playersvars[x]].insert(0,'Contest_Date',recontestdate[x])
players20171128.head()

,Contest_Date,Player,Pos,Team,Opp,Def v Pos,VegasPts,Salary,Floor,Ceiling,...,MPG,Proj Mins,FC Proj,My Proj,Exposure,Con.,Value,Mins,Score,Val
0,20171128,LeBron James,SF/PFSFPF,CLE,vs MIA,26th,105.50,11300,36.1,87.6,...,37.0,35.50,58.15,58.15,%,74,5.1,28,58.00,5.1
1,20171128,Giannis Antetokounmpo,SF/PFSFPF,MIL,@ SAC,3rd,102.00,11200,43.6,69.9,...,37.4,41.00,54.86,54.86,%,86,4.9,26,57.25,5.1
2,20171128,Karl-Anthony Towns,C,MIN,vs WAS,21st,107.75,9100,33.1,71.4,...,34.4,36.75,49.47,49.47,%,74,5.4,39,43.75,4.8
3,20171128,Nikola Jokic,C,DEN,@ UTA,1st,101.50,8700,15.3,64.7,...,29.6,29.40,36.43,36.43,%,66,4.2,26,27.00,3.1
4,20171128,Hassan Whiteside,C,MIA,@ CLE,19th,102.50,8500,14.1,59.1,...,27.0,24.36,33.40,33.40,%,65,3.9,18,35.50,4.2

### Get contest standings in one file
split between contest standings and draft rankings

In [13]:
rrcontestdate = contestdate.replace("-", "", regex = True)
rrcontestdateind = rrcontestdate.index.to_series()
# conteststandingslinks = 'drive/data science/data/NBA data/data_warehouse/' + contestdate + '/' + contestdir + '/contest-standings.csv'
conteststandingslinks = '~/google drive/data science/data/NBA data/data_warehouse/' + contestdate + '/' + contestdir + '/contest-standings.csv'
contestdir = contestdir.drop(contestdir.index[[range(290,314)]])
contestdir = contestdir.drop(contestdir.index[[288]])
contestdir = contestdir.reset_index(drop=True)
rrcontestdate = rrcontestdate.drop(rrcontestdate.index[[range(290,314)]])
rrcontestdate = rrcontestdate.drop(rrcontestdate.index[[288]])
rrcontestdate = rrcontestdate.reset_index(drop=True)
conteststandingslinks = conteststandingslinks.drop(conteststandingslinks.index[[range(290,314)]])
conteststandingslinks = conteststandingslinks.drop(conteststandingslinks.index[[288]])
conteststandingslinks = conteststandingslinks.reset_index(drop=True)

In [14]:
conteststart = pd.read_csv(conteststandingslinks[0])
conteststart.insert(0,'Contest_Date',rrcontestdate[0])
conteststart.insert(1,'Contest_Name',contestdir[0])
conteststandingsres = conteststart.loc[:,['Contest_Date','Contest_Name','Rank', 'EntryId', 'EntryName', 'Points', 'Lineup']]
contestdraft = conteststart.loc[:,['Contest_Date','Contest_Name','Player','Roster.Position','FPTS','X.Drafted']]
for x in range(len(conteststandingslinks)):
    tempdata = pd.read_csv(conteststandingslinks[x])
    tempdata.insert(0,'Contest_Date',rrcontestdate[x])
    tempdata.insert(1,'Contest_Name',contestdir[x])
    conteststandingsres = conteststandingsres.append(tempdata.loc[:,['Contest_Date','Contest_Name','Rank', 'EntryId', 'EntryName', 'Points', 'Lineup']])
    contestdraft = contestdraft.append(tempdata.loc[:,['Contest_Date','Contest_Name','Player','Roster.Position','FPTS','X.Drafted']])
contestdraft.head()

/Applications/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Contest_Date,Contest_Name,Player,Roster.Position,FPTS,X.Drafted
0,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,Blake Griffin,PF,50.25,93.09%
1,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,Klay Thompson,SG,36.25,88.38%
2,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,Draymond Green,F,34.00,76.48%
3,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,Lou Williams,PG,53.50,71.73%
4,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,DeAndre Jordan,UTIL,19.75,57.66%

In [15]:
contestdraft = contestdraft.dropna()

### Collect payoff structure files

In [17]:
payoutstruclinks = '~/google drive/data science/data/NBA data/data_warehouse/' + rrcontestdate + '/' + contestdir + '/payout_structure.csv'
payoutvars = 'payout'+ rrcontestdate + rrcontestdateind.astype(str)
payoutvars = payoutvars.drop(payoutvars.index[[range(290,314)]])
payoutvars = payoutvars.drop(payoutvars.index[[288]])
payoutvars = payoutvars.reset_index(drop=True)
payoutstruclinks[1]

'~/google drive/data science/data/NBA data/data_warehouse/20171128/$555.00entry_NBA $400K Alley Oop [$100K to 1st]/payout_structure.csv'

In [18]:
for x in range(len(payoutvars)):
    try:
        vars()[payoutvars[x]] = pd.read_csv(payoutstruclinks[x])
    except FileNotFoundError:
        vars()[payoutvars[x]] = 'File Does Not Exist'
    if type(vars()[payoutvars[x]]) != str:
        vars()[payoutvars[x]].insert(0,'Contest_Date',rrcontestdate[x])
        vars()[payoutvars[x]].insert(1,'Contest_Name',contestdir[x])
        try:
            payoutres = payoutres.append(vars()[payoutvars[x]])
        except NameError:
            payoutres = vars()[payoutvars[x]]
payoutres.head()

,Contest_Date,Contest_Name,Place_lo,Place_hi,Payout
0,20171128,$555.00entry_NBA $400K Alley Oop [$100K to 1st],1.0,1.0,100000.0
1,20171128,$555.00entry_NBA $400K Alley Oop [$100K to 1st],2.0,2.0,40000.0
2,20171128,$555.00entry_NBA $400K Alley Oop [$100K to 1st],3.0,3.0,20000.0
3,20171128,$555.00entry_NBA $400K Alley Oop [$100K to 1st],4.0,4.0,10000.0
4,20171128,$555.00entry_NBA $400K Alley Oop [$100K to 1st],5.0,5.0,7000.0

### Get projection files in one dataframe

In [20]:
recontestdate = contestdate.drop_duplicates()
recontestdate = recontestdate.reset_index(drop=True)
rotoprojlinks = '~/google drive/data science/data/NBA data/data_warehouse/projections/rotogrinders/roto_' + recontestdate + '.csv'
recontestdateind = recontestdate.index.to_series()
for x in range(len(rotoprojlinks)):
    try:
        tempdata = pd.read_csv(rotoprojlinks[x])
    except FileNotFoundError:
        tempdata = 'File Not Found'
    if x == 0:
        rotoproj = tempdata
    if type(tempdata) != str:
        tempdata.insert(0,'Contest_Date',recontestdate[x])
        rotoproj = rotoproj.append(tempdata)
rotoproj.head()

,Contest_Date,player,salary,team,pos,opp,ceil,floor,fpts
0,2017-11-27,Patty Mills,4300,SAS,PG,DAL,28.7868,9.8532,19.32
1,2017-11-27,J.J. Barea,4000,DAL,PG/SG,SAS,29.4480,11.4520,20.45
2,2017-11-27,Tony Parker,3900,SAS,PG,DAL,25.2969,6.5231,15.91
3,2017-11-27,Manu Ginobili,3700,SAS,SG/SF,DAL,22.4940,5.1060,13.80
4,2017-11-27,Dirk Nowitzki,4300,DAL,PF/C,SAS,34.0737,8.7863,21.43

In [21]:
recontestdate = contestdate.drop_duplicates()
recontestdate = recontestdate.reset_index(drop=True)
dfnprojlinks = '~/google drive/data science/data/NBA data/data_warehouse/projections/dailyfantasynerd/dfn_' + recontestdate + '.csv'
recontestdateind = recontestdate.index.to_series()
tempdata = None
for x in range(len(dfnprojlinks)):
    try:
        tempdata = pd.read_csv(dfnprojlinks[x])
    except FileNotFoundError:
        tempdata = 'File Not Found'
    if x == 0:
        dfnproj = tempdata
    if type(tempdata) != str:
        tempdata.insert(0,'Contest_Date',recontestdate[x])
        dfnproj = dfnproj.append(tempdata)
dfnproj.head()

,Contest_Date,Player Name,Likes,Inj,Pos,Salary,Team,Opp,Rest,PS,...,L5 FP,S FP,Floor FP,Ceil FP,Proj Min,Proj FP,Proj Val,Actual Min,Actual FP,Actual Val
0,2017-11-27,James Harden,15.0,NaN,PG/SG,11800,HOU,BKN,1,NaN,...,57.8,57.0,44.6,69.4,34.5,59.5,5.0,35.8,73.0,6.2
1,2017-11-27,LeBron James,20.0,NaN,SF/PF,11400,CLE,@PHI,2,109.0,...,62.5,57.0,41.7,72.3,37.0,55.7,4.9,31.0,58.0,5.1
2,2017-11-27,Joel Embiid,14.0,NaN,C,10400,PHI,CLE,1,109.0,...,51.3,45.6,31.1,60.2,32.0,52.0,5.0,32.8,44.8,4.3
3,2017-11-27,Ben Simmons,14.0,NaN,PG/SF,10000,PHI,CLE,1,109.0,...,51.0,47.7,40.3,55.0,36.0,50.2,5.0,35.1,29.0,2.9
4,2017-11-27,Stephen Curry,NaN,O,PG/SG,9800,GSW,SAC,1,NaN,...,51.5,46.4,37.7,55.0,0.0,0.0,0.0,0.0,0.0,0.0

### Splitting "Lineup" into individual player columns

In [28]:
conteststandingline = conteststandingsres['Lineup']
conteststandingline.head()

0    PG Lou Williams PF Blake Griffin SG Klay Thomp...
1    PG Lou Williams C Blake Griffin UTIL Klay Thom...
2    PG Lou Williams PF Blake Griffin UTIL Klay Tho...
3    PG Lou Williams F Blake Griffin UTIL Klay Thom...
4    PG Lou Williams C Blake Griffin SG Klay Thomps...
Name: Lineup, dtype: object

In [29]:
conteststandingline = conteststandingline.str.replace(' Jr.', ' ')
conteststandingline = conteststandingline.str.replace(' IV', ' ')
conteststandingline = conteststandingline.str.replace(' III', ' ')
conteststandingline = conteststandingline.str.replace(' II', ' ')
conteststandingline = conteststandingline.str.replace(' Mbah', '-Mbah')
conteststandingline = conteststandingline.str.replace(' a', '-a')
conteststandingline = conteststandingline.str.replace(' Moute', '-Moute')
conteststandingline = conteststandingline.str.replace(' McAdoo', '-McAdoo')

In [30]:
conteststandingline = conteststandingline.str.split(expand=True)
conteststandingline.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,PG,Lou,Williams,PF,Blake,Griffin,SG,Klay,Thompson,C,...,Caldwell-Pope,F,Willie,Cauley-Stein,UTIL,Patrick,McCaw,SF,Brandon,Ingram
1,PG,Lou,Williams,C,Blake,Griffin,UTIL,Klay,Thompson,PF,...,Caldwell-Pope,F,Willie,Cauley-Stein,SF,Patrick,McCaw,G,Brandon,Ingram
2,PG,Lou,Williams,PF,Blake,Griffin,UTIL,Klay,Thompson,F,...,Caldwell-Pope,C,Willie,Cauley-Stein,SG,Patrick,McCaw,SF,Brandon,Ingram
3,PG,Lou,Williams,F,Blake,Griffin,UTIL,Klay,Thompson,PF,...,Caldwell-Pope,C,Willie,Cauley-Stein,SF,Kyle,Kuzma,G,Patrick,McCaw
4,PG,Lou,Williams,C,Blake,Griffin,SG,Klay,Thompson,F,...,Caldwell-Pope,PF,Willie,Cauley-Stein,SF,Kyle,Kuzma,G,Patrick,McCaw

In [31]:
conteststandingline = conteststandingline.drop([0,3,6,9,12,15,18,21], axis=1)
conteststandingline.head()

,1,2,4,5,7,8,10,11,13,14,16,17,19,20,22,23
0,Lou,Williams,Blake,Griffin,Klay,Thompson,Draymond,Green,Kentavious,Caldwell-Pope,Willie,Cauley-Stein,Patrick,McCaw,Brandon,Ingram
1,Lou,Williams,Blake,Griffin,Klay,Thompson,Draymond,Green,Kentavious,Caldwell-Pope,Willie,Cauley-Stein,Patrick,McCaw,Brandon,Ingram
2,Lou,Williams,Blake,Griffin,Klay,Thompson,Draymond,Green,Kentavious,Caldwell-Pope,Willie,Cauley-Stein,Patrick,McCaw,Brandon,Ingram
3,Lou,Williams,Blake,Griffin,Klay,Thompson,Draymond,Green,Kentavious,Caldwell-Pope,Willie,Cauley-Stein,Kyle,Kuzma,Patrick,McCaw
4,Lou,Williams,Blake,Griffin,Klay,Thompson,Draymond,Green,Kentavious,Caldwell-Pope,Willie,Cauley-Stein,Kyle,Kuzma,Patrick,McCaw

In [32]:
player1 = conteststandingline[1].str.cat(conteststandingline[2], sep=' ')
player2 = conteststandingline[4].str.cat(conteststandingline[5], sep=' ')
player3 = conteststandingline[7].str.cat(conteststandingline[8], sep=' ')
player4 = conteststandingline[10].str.cat(conteststandingline[11], sep=' ')
player5 = conteststandingline[13].str.cat(conteststandingline[14], sep=' ')
player6 = conteststandingline[16].str.cat(conteststandingline[17], sep=' ')
player7 = conteststandingline[19].str.cat(conteststandingline[20], sep=' ')
player8 = conteststandingline[22].str.cat(conteststandingline[23], sep=' ')

In [33]:
conteststandingsres = conteststandingsres.drop('Lineup', axis=1)
conteststandingsres.head()

,Contest_Date,Contest_Name,Rank,EntryId,EntryName,Points
0,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,1,935183394,adriank27 (2/3),328.00
1,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,1,935613945,lutzamillion (5/5),328.00
2,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,1,935743537,afairbanks002 (2/6),328.00
3,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,4,935512705,vtran1891,325.25
4,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,4,935666886,aron415 (2/14),325.25

In [34]:
conteststandingsres.insert(loc = 5, column = 'Player8', value = player8)
conteststandingsres.insert(loc = 5, column = 'Player7', value = player7)
conteststandingsres.insert(loc = 5, column = 'Player6', value = player6)
conteststandingsres.insert(loc = 5, column = 'Player5', value = player5)
conteststandingsres.insert(loc = 5, column = 'Player4', value = player4)
conteststandingsres.insert(loc = 5, column = 'Player3', value = player3)
conteststandingsres.insert(loc = 5, column = 'Player2', value = player2)
conteststandingsres.insert(loc = 5, column = 'Player1', value = player1)
conteststandingsres.head()

,Contest_Date,Contest_Name,Rank,EntryId,EntryName,Player1,Player2,Player3,Player4,Player5,Player6,Player7,Player8,Points
0,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,1,935183394,adriank27 (2/3),Lou Williams,Blake Griffin,Klay Thompson,Draymond Green,Kentavious Caldwell-Pope,Willie Cauley-Stein,Patrick McCaw,Brandon Ingram,328.00
1,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,1,935613945,lutzamillion (5/5),Lou Williams,Blake Griffin,Klay Thompson,Draymond Green,Kentavious Caldwell-Pope,Willie Cauley-Stein,Patrick McCaw,Brandon Ingram,328.00
2,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,1,935743537,afairbanks002 (2/6),Lou Williams,Blake Griffin,Klay Thompson,Draymond Green,Kentavious Caldwell-Pope,Willie Cauley-Stein,Patrick McCaw,Brandon Ingram,328.00
3,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,4,935512705,vtran1891,Lou Williams,Blake Griffin,Klay Thompson,Draymond Green,Kentavious Caldwell-Pope,Willie Cauley-Stein,Kyle Kuzma,Patrick McCaw,325.25
4,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,4,935666886,aron415 (2/14),Lou Williams,Blake Griffin,Klay Thompson,Draymond Green,Kentavious Caldwell-Pope,Willie Cauley-Stein,Kyle Kuzma,Patrick McCaw,325.25

### Saving combined dataframes

In [39]:
conteststandingsres.to_csv('conteststanding.csv',index=False)
playerresults.to_csv('playerres.csv',index=False)
contestdraft.to_csv('contestdraft.csv',index=False)
rotoproj.to_csv('rotoprojection.csv',index=False)
dfnproj.to_csv('dfnprojection.csv',index=False)